
body {
    position: relative;
    padding-top: 60px;
	font: 14px/1.6 "Open Sans",sans-serif;
}

#description .description {
	position: relative;
	top: -5px;
	font: 100 4.2em "Helvetica Neue","Open Sans",sans-serif;
	color: #aeaeae;
	line-height: .75;
}
.navbar-brand {
	background: url("/images/lucee_logo.png") 10px 5px no-repeat;
	text-indent: -3000px;
	width: 140px;
	min-height: 65px;
}
#searchform {
	margin-top: 10px;
}
.jumbotron{
	background: #01798a;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.jumbotron{
	background: #01798a;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer {
	background-color: #f5f5f5;
}

.alphabet.affix {
	top:30px;
}
/** Autocomplete search adjustment **/
#ui-id-1.ui-autocomplete {
	position: absolute;
	z-index: 5000;
}
/**In-Page Positional Anchors - to offset fixed nav**/
.anchor:before {
	content: ''; 
	display: block; 
	position: relative; 
	width: 0; 
	height: 5em; 
	margin-top: 50px; 
}
